@import 'tailwindcss';
@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@theme {
  --font-sans: 'Space Grotesk', sans-serif;
  --color-void-950: #0b0f1a; /* fundo principal */
  --color-void-900: #1e0a38; /* fundo cards */
  --color-void-800: #3b136b; /* bordas / divisores */
  --color-void-700: #5a1fa8; /* roxo médio */
  --color-armor: #2e3f5e; /* azul armadura */
  --color-metal: #2a2f3a; /* cinza metálico */

  --color-rift-500: #7b2cf5; /* roxo vibrante — botões */
  --color-rift-400: #a23cff; /* roxo neon — hover */
  --color-rift-300: #d94bff; /* magenta — destaque/ativo */
  --color-rift-200: #cfa6ff; /* lilás — texto suave */
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #0b0f1a;
  color: #cfa6ff;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #5a1fa8 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #5a1fa8;
  border-radius: 999px;
  box-shadow: inset 0 0 0 2px #1e0a38;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #7b2cf5;
  box-shadow: inset 0 0 0 2px #1e0a38;
}
